[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[http]
	sslVerify = false
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[alias]
  delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
  fp = !git fetch -p && git delete-merged-branches
  pp = !git pull -p && git delete-merged-branches
  tree = !git log --graph --all --format='%x09[%ad] %C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %s %C(magenta reverse)%d%Creset' --date=short
[include]
  path = ~/.gitconfig.local
[ghq]
  root=~/src
